@import "../../../styles/color.scss";

.tab-pane-wrapper {
  width: 100%;
  padding: 10px;
  ul {
    display: flex;
    li {
      flex: 1;
      text-align: center;
      padding: 10px 10px 10px 0;
      &.active {
        box-shadow: 0 4px 6px 3px $border-color;
      }
    }
  }
  .tab-pane {
    &.active {
      display: block;
    }
  }
}
